* {
    text-align: center;
}
    form {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    input {
        margin-bottom: 10px;
        padding: 10px;
    }

    table {
        width: 100%;
        text-align: center;
        width: 90%;
        margin: 5% auto;
    }

    table,
    th,
    td {
        border: 1px solid;
        border-collapse: collapse;
        padding: 10px;
    }